@{
    ViewData["Title"] = "Home Page";
}
@model List<Bowler>

<head>
    <title>Bowlers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
@*Table to display bowler records*@
<div class="container">
    <table class="table table-hover table-striped table-bordered">
        <thead style="font-weight:bold">
            <tr>
                <td scope="col">Last Name</td>
                <td scope="col">First Name</td>
                <td scope="col">Midle Initial</td>
                <td scope="col">Phone Number</td>
                <td scope="col">Address</td>
                <td scope="col">City</td>
                <td scope="col">State</td>
                <td scope="col">Zip</td>

            </tr>
        </thead>

        <tbody>
            @*for loop to display each movie*@
            @foreach (var b in Model)
            {
            <tr>
                <td>@b.BowlerLastName</td>
                <td>@b.BowlerFirstName</td>
                <td>@b.BowlerMiddleInit</td>
                <td>@b.BowlerPhoneNumber</td>
                <td>@b.BowlerAddress</td>
                <td>@b.BowlerCity</td>
                <td>@b.BowlerState</td>
                <td>@b.BowlerZip</td>
                <td><a class="btn" asp-controller="Home" asp-action="Edit" asp-route-applicationid="@b.BowlerID">Edit</a></td>
                <td><a class="btn" asp-controller="Home" asp-action="Delete" asp-route-applicationid="@b.BowlerID">Delete</a></td>
            </tr>

            }
        </tbody>
    </table>
</div>
